@using SatoshisCrypto.Models;

<div class="text-center">
    <h1 class="display-4">All Comments:</h1>
</div>

@*foreach(var i in @ViewBag.finalList)
{
    <p>i</p>
}
*@

<p>DOGE: @ViewBag.finalCount</p>  
<p>ADA: @ViewBag.finalCount2</p> 
<p>LINK: @ViewBag.finalCount3</p> 
<p>ETH: @ViewBag.finalCount4</p> 
<p>BTC: @ViewBag.finalCount5</p>  